.home-conatiner {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
}

.main-content {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-content > span {
  text-align: center;
  height: max-content;
  padding: 0px 30px;
}
.child {
  width: 50%;
}

.h1-name {
  font-size: 60px;
}

.img-container {
  width: 50%;
  height: 100%;
}
img {
  height: 100%; /* desired height */
  object-position: center;
}

@media screen and (max-width: 768px) {
  .child {
    width: 100%;
    text-align: center;
  }
  .child > span {
    width: 90%;
    text-align: center;
    justify-content: center;
  }
  img {
    height: 200px; /* desired height */
    object-position: center;
  }
}
