* {
  color: #000;
  font-family: "Poppins", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  color-scheme: light dark;
  background-color: #c0afa8;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
}
